<ion-header>
  <ion-toolbar>
    <ion-title>auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col offset="4" size="6">
          <ion-buttons>
            <ion-button color="primary" fill="solid" (click)="onLogin('-N8PnJ6s8FDh77vUleJp')">
              Login 1
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="4" size="6">
          <ion-buttons>
            <ion-button color="primary" fill="solid" (click)="onLogin('-N9mlhw5I1PRbRQyUCfj')">
              Login 2
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
