<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Mooli
        </ion-title>
      </ion-toolbar>  
    </ion-header>
    
    <ion-content>
      <ion-list>
        <ion-item lines="none">
          <ion-icon slot="start"></ion-icon>
          <!-- <ion-label>{{usuario.imagen}}</ion-label>
            <ion-label>{{usuario.nombre}}</ion-label> -->
          </ion-item>
          <ion-item lines="none">
            <ion-icon  slot="start" ></ion-icon>
            <ion-label> recuperar contraseña</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Cerrar sesion</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
