.profilePic {
    width: 100% !important;
    height: 100% !important;
    max-width: 140px !important; //any size
    max-height: 140px !important; //any size 
    margin: auto;
}

ion-input {
    --background: rgb(226, 226, 226);
    --color: black;
}

.inner {
    background-color: #075E54;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camera-icon {
    height: 30px;
    width: 30px;
    color: white;
}

.transparent-modal .modal-wrapper {
    --background: rgba(44, 39, 45, 0.7);
}