<ion-header>
  <ion-title>Buscador</ion-title>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="button-asd" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button (click)="saveTest()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- [presentingElement]="presentingElement" -->
<ion-content>
<ion-toolbar>
  <ion-title> Buscador</ion-title>
      
</ion-toolbar>
<p class="ion-padding-horizontal">Elige el genero por el cual quieras filtrar</p>
  <ion-accordion-group [multiple]="true">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
    <ion-label>Generos</ion-label>
  </ion-item>
    <div class="ion-padding" slot="content">  
  <ion-list >
    <!-- *ngFor="let i of genero" -->
    <ion-item >
      <ion-label class="ion-text-wrap" for="genero">{{genero}}</ion-label>
      <ion-checkbox id="genero" (ionChange)="($event)"></ion-checkbox>
    </ion-item>
  </ion-list>
</div>
</ion-accordion>
<ion-accordion value="second">
  <ion-item slot="header" color="light">
    <ion-label>Directores</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    <ion-list>
      <ion-item>
      <ion-label class="ion-text-wrap" for="director">{{director}}</ion-label>
      <ion-checkbox id="director" (ionChange)="($event)"></ion-checkbox>
    </ion-item>
    </ion-list>
  </div>
</ion-accordion>
</ion-accordion-group>
<ion-buttons>
  <ion-label>Peliculas vistas</ion-label>
  <!-- <ion-button (click)="checkFilter()"></ion-button> -->
</ion-buttons>
    </ion-content>

















<!-- <ion-list>
  <ion-item *ngFor="let i of filtersGenre">
    <ion-label  ng-model="checkItems[i]" ng-value="i">{{i}}</ion-label>
  </ion-item>
</ion-list> -->




  <!-- <ion-buttons slot="end">
    <button (click)="saveTest()">Filtrar</button>
  </ion-buttons>
    
        <button (click)="cancel()">Limpar</button> -->
      
  <!-- <ion-buttons slot="primary">
    <button (click)="cancel()">Cancelar</button>
  </ion-buttons> -->